# 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

In [2]:
u_cols = ['user_id','age','sex','occupation','zip_code']
users=pd.read_csv('u.user',sep='|',names=u_cols,encoding='latin-1')
users = users.set_index('user_id')
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [3]:
i_cols = ['movie_id','title','release date','video release date','IMDB URL',
         'unknown','Action','Adventure','Animation','Children\s','Comedy','Crime',
         'Doucumentraty','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery',
         'Romance','Sci-Fi','Thriller','War','Western']
movies = pd.read_csv('u.item',sep='|',names=i_cols,encoding='latin_1')
movies = movies.set_index('movie_id')
movies

,title,release date,video release date,IMDB URL,unknown,Action,Adventure,Animation,Children\s,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 1 to 1682
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               1682 non-null   object
 1   release date        1681 non-null   object
 2   video release date  0 non-null      float64
 3   IMDB URL            1679 non-null   object
 4   unknown             1682 non-null   int64
 5   Action              1682 non-null   int64
 6   Adventure           1682 non-null   int64
 7   Animation           1682 non-null   int64
 8   Children\s          1682 non-null   int64
 9   Comedy              1682 non-null   int64
 10  Crime               1682 non-null   int64
 11  Doucumentraty       1682 non-null   int64
 12  Drama               1682 non-null   int64
 13  Fantasy             1682 non-null   int64
 14  Film-Noir           1682 non-null   int64
 15  Horror              1682 non-null   int64
 16  Musical             1682 non-null   int64
 17  Mystery             1682 non-null   int64
 18  Romance             1682 non-null   int64
 19  Sci-Fi              1682 non-null   int64
 20  Thriller            1682 non-null   int64
 21  War                 1682 non-null   int64
 22  Western             1682 non-null   int64
dtypes: float64(1), int64(19), object(3)
memory usage: 315.4+ KB

In [5]:
movies.shape

(1682, 23)

In [6]:
r_cols = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv('u.data',sep='\t',names=r_cols,
                     encoding='latin-1')
ratings = ratings.set_index('user_id')
ratings.head()

         movie_id  rating  timestamp
user_id
196           242       3  881250949
186           302       3  891717742
22            377       1  878887116
244            51       2  880606923
166           346       1  886397596

## best seller 추천

In [7]:
def recom_moviel(n_items):
    movie_sort = movie_mean.sort_values(ascending=False)[:n_items]
    #ascending=False 내림차순
    recom_movies = movies.loc[movie_sort.index]
    recommendations = recom_movies['title']
    return recommendations

movie_mean =ratings.groupby(['movie_id'])['rating'].mean()
recom_moviel(5)

movie_id
814                         Great Day in Harlem, A (1994)
1599                        Someone Else's America (1995)
1201           Marlene Dietrich: Shadow and Light (1996)
1122                       They Made Me a Criminal (1939)
1653    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

In [8]:
def recom_movie2(n_items):
    return movies.loc[movie_mean.sort_values(ascending=False)[:n_items].index]['title']

## RMSE 평균제곱근 편차
- 작을수록 정확한 추천시스템

In [9]:
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true)- np.array(y_pred))**2))

In [10]:
rmse = []
#결과를 저장할 rmse 변수를 초기화 한다
for user in set(ratings.index):
    #ratings에 있는 user_id 를 다 추출해서 한 user씩 루프를 돌린다.
    y_true = ratings.loc[user]['rating']
    #각 사용자가 평가한 모든 영화의 평점을 y_true에 저장한다.
    y_pred = movie_mean[ratings.loc[user]['movie_id']]
    #해당 사용자가 평가한 영화의 평점평균을 y_pred에 저장한다. 현재 사용하는 추천
    #알고리즘이 best-seller 방식이므로 평점평균이 해당 영화의 예측값이라 할수 있다
    accuracy = RMSE(y_true, y_pred)
    #실제값(y_true)과 예측값(y_pred)으로 RMSE를 구한다. 여기의 RMSE는 현재 사용자
    #한명에 대한 RMSE이다
    rmse.append(accuracy)
    #현재 사용자의 RMSE를 rmse리스트에 추가한다
print(np.mean(rmse))
#전체 사용자의 RMSE의 평균을 보여준다.

0.996007224010567

In [11]:
#timestamp 제거
ratings = ratings.drop('timestamp',axis=1)

KeyError: "['movie_id'] not in index"

In [ ]:
#movie ID와 title 빼고 다른 데이터 제거
movies = movies[['movie_id','title']]

In [12]:
movies

,title,release date,video release date,IMDB URL,unknown,Action,Adventure,Animation,Children\s,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0